hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.chip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50rem;
  padding: 2px 20px;
  font-size: 12px;
  font-weight: 800;
  color: #222;

  &.success {
    background-color: $color-success;
  }

  &.warning {
    background-color: $color-warning;
  }

  &.danger {
    background-color: $color-error;
  }
}

@media (max-width: 550px) {
  .ms-4.chip {
    margin-left: .25rem !important;
  }

  .chip {
    font-size: 10px !important;
    padding: 2px 10px !important;
  }
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #f5f6f8;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.bordered {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.stream-wrapper {
  border-radius: 5px;
  text-align: left;
  padding: 20px 0 10px 0;
  width: 100%;
  overflow: auto;
}

.stream-wrapper + .stream-wrapper {
  border-top: 1px solid #eee;
  margin-top: 30px;
}

.status-square {
  border-radius: 3px;
  height: 30px;
  min-width: 8px;
  width: 100%;
}

.status-square + .status-square {
  margin-left: 6px;
}

.success {
  background-color: $color-success;
  color: #fff;
}

.danger {
  background-color: $color-error;
  color: #fff;
}

.nodata {
  background-color: #f8f8f8;
  color: #ccc;
}

.warning {
  background-color: $color-warning;
  color: #fff;
}

.invert {
  filter: invert(1);
}